@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.content {
  margin-left: 200px; 
  padding: 20px;
  width: calc(100% - 200px);
  background-color: #f4f4f9;
  min-height: 100vh;
}