@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~react-toastify/dist/ReactToastify.min.css';

* {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  overflow-x: hidden;
  width: 100%;
}

:root {
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --headingFont: "Roboto", sans-serif;
  --bodyFont: "Nunito", sans-serif;
  --smallText: 0.7em;
  --small-text: 0.875rem;
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --background: 0, 0, 0;
  --foreground: 255, 255, 255;
  --color: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --colour-red: #da3030;
  --colour-black: rgb(1, 1, 1);
  --colour-white: rgb(225, 225, 225);
  --colour-ash: #acacac;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:  'Open Sans', sans-serif !important;
  /* font-family: Roboto, Ubuntu, sans-serif; */
  font-weight: 14px;
  font-weight: 400;
  color: rgb(var(--color));
  background-color: rgb(0, 0, 0);
}

input:-internal-autofill-selected {
  background-image: none !important;
  background-color: light-dark(
    rgb(232, 240, 254),
    rgba(70, 90, 126, 0.4)
  ) !important;
  color: fieldtext !important;
}

.chevronLeft {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.user {
  width: 24px !important;
}

.navHomeBackgroundColor {
  background-color: rgba(0, 0, 0, 0.7) !important;
  transition: background-color 0.3s ease;
}

.navPageBackgroundColor {
  background-color: rgba(0, 0, 0 , 1) !important;
  transition: background-color 0.3s ease;
}

input:-webkit-autofill {
  appearance: none !important;
  -webkit-appearance: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  color: #000 !important;
}

.hometitle {
  margin: 0;
  padding: 20px;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  box-sizing: border-box;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo {
  display: flex;
  width: 150px;
  height: 60px;
}

.logoIcon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: middle;
  background: -webkit-linear-gradient(45deg, #680aca, #ff897e);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  -webkit-animation: rotate 6s linear infinite;
  animation: rotate 6s linear infinite;
  background-size: 300% 300%;
  mask-image: url(/logoIcon.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-image: url(/logoIcon.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  display: inline-block;
}

.logoImage {
  width: 100px;
  height: 60px;
  background-image: url(/roomify.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width:800px) {
  .logoImage{
    width: 80px;
    height: 40px;
  }
}

.Toastify__close-button {
  width: 16px;
}

.loading-children-container {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  transform: translateZ(0);
}

.nfp .player-loading, .watch-video .player-loading {
  background: #000;
  pointer-events: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.PlayerSpinner--container, .loading-spinner {
  height: 7vh;
  width: 7vh;
  min-height: 5rem;
  min-width: 5rem;
}

@keyframes load_spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  animation: load_spinner .9s linear infinite;
  background-image: url("/site-spinner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  margin: auto;
}

/* Account Section */
.account {
  margin-top: 60px;
}
.accountContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding: 25px 0;
}

.header-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.vbar {
  display: inline-block;
  align-self: stretch;
  width: 2px;
  min-height: 1em;
  padding: 0;
  background-color: currentcolor;
  opacity: 0.25;
}