/** Design **/
.designwrapper {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.shaded_border:before {
    top: 0;
    background: linear-gradient(90deg, rgba(72, 75, 81, .3), hsla(180, 7%, 97%, .5), rgba(72, 75, 81, .3));
}

.shaded_border:before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: content-box;
    left: 15%;
    width: 70%;
    height: 2px;
}

.infoheader{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 50px;
}

.designinfo .infobody::-webkit-scrollbar {
    z-index: 20;
    width: 12px;
}

.designinfo .infobody:hover::-webkit-scrollbar {
    z-index: 20;
    width: 12px; 
}

.designinfo .infobody::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.designinfo .infobody::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}

.designinfo .infobody:hover::-webkit-scrollbar-track {
    background-color: rgba(25, 25, 25, 1);
    transition: background-color 0.2s ease;
}

.designinfo .infobody:hover::-webkit-scrollbar-thumb {
    background-color: #888;
    transition: background-color 0.2s ease;
}

.designinfo .infobody::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    transition: background-color 0.2s ease;
}

.designinfo .infoheader .title{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: white;
    font-family:'lato'
}

.designinfo .infoheader .uplaod{
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #da3030;
    border-radius: 16px;
    font-size: 1rem;
    color: white;
    cursor: pointer;

    &:hover{
        background-color: rgba(218, 48, 48, 0.9);
    }
}
  
  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  
  .image-container {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .image-container img {
    width: 600px;
    height: 600px;
    object-fit: contain; 
  }

  @media (max-width: 800px) { 
    .image-container img {
        width: 400px;
        height: 400px;
        object-fit: contain; 
      }
  }

  .roomfield {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 100%;
    border: 1px solid rgba(228, 199, 199, 0.2);
    border-radius: 5px;
  }

  .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 100%;
  }

  .border-left {
    display: flex;
    align-items: center;
    height: 100%;
    border-left: 1px solid rgba(228, 199, 199, 0.2); 
    padding-left: 8px;
  }

  .backgroundcolor {
    background-color: rgba(218, 48, 48, 0.3);
  }

  .roomError {
    min-height: 24px;
    position: relative;
    text-align: left;
    color: var(--colour-red);
  }

  .roomtype{
    border: 1px solid rgba(228, 199, 199, 0.2); 
    background-color: rgb(25, 25, 25);
    padding: 0.5rem;
    border-radius: 8px;
  }

  .downloadIcon{
    position: absolute;
    top: 0%;
    left: calc(100% - 130px);
    margin: 0.5rem;
    cursor: pointer;
    z-index: 50;
  }

  .imgisloading{
    opacity: 0.5;
  }

.img-loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }