  .faqContainer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .faqHaeader {
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .faqItem {
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
  }
  
  .faqQuestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    height: 50px;
  }
  
  .toggleButton {
    width: 2rem;
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .faqAnswer {
    overflow: hidden;
    opacity: 0;
    padding: 0 4px;
  }
  
  .faqItem.active .faqAnswer {
    display: flex;
    align-items: center;
    min-height: 50px;
    max-height: 500px;
    opacity: 1;
    padding: 0 4px;
    background-color: rgba(125, 123, 123, 0.2);
    transition: max-height 0.6s ease, opacity 0.3s ease;
  }