/* Account Section */
.accountTitle{
    text-align: start;
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
    text-align: center;
}


.landing-content {
  position: relative;
  float: right;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  border: 1px solid #c7c7c7;
  padding: 30px;
  vertical-align: top;
  width: calc(100%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1060px;
}

.accountLink:hover {
  text-decoration: underline;
}

.landing-content .menu-item {
    position: relative;
    border: 1px solid #C7C7C7;
    background-color: #7d7b7b;
    color: #fff;
    padding: 30px;
    text-align: center;
    margin-top: 25px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 800px) {
    .landing-content .menu-item {
        padding: 10px;             
        margin-top: 15px;          
    }
}

.landing-content .menu-item .right-container .label-container {
    float: left;
}

.landing-content .menu-item .right-container .text {
    font-family: 'madera', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    background: url("https://cdn.roomify.org/chevron-right-solid-red.svg") no-repeat right;
    background-size: 16px;
    padding-right: 25px;
    position: relative;
}

@media (max-width:800px) {
    .landing-content {
        padding: 15px;
    }
    .accountTitle{ font-size: 1.5rem }

    .landing-content .menu-item .right-container .text {
        font-size: 12px;
        background-size: 10px
    }
}

.landing-content.menu-item .left-container .imageIcon {
    position: relative;
    display: inline-block;
    max-width: 45px;
    padding-top: 4px;
    padding-right: 10px;
    max-height: 45px;
}

.right-container {
    width: 50%;
    padding-left: 0.5rem;
    text-align: left; 
    display: flex;
    align-items: center;
    justify-content: flex-start; 
  }
  
  .left-container {
    width: 50%;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
  }
